{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    ["@babel/preset-react", {
    "runtime": "automatic"
  }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "production": {
      "only": ["src"],
      "plugins": [        
        "@babel/plugin-transform-react-constant-elements"
      ]
    }
  }
}